@import "header/header.scss";

@import "login/login.scss";

@import "tiempoReducido/tiempoReducido.scss";
@import "tiempoReducido/studentsCenter.scss";
@import "tiempoReducido/timeConfig.scss";
@import "tiempoReducido/inputSearch.scss";

@import "general/navigationContainer.scss";

@import "menu/menu.scss";
@import "menu/buttonOption.scss";
@import "menu/searchBar.scss";
@import "menu/panel.scss";
@import "menu/notification.scss";
@import "menu/uploadFile.scss";

@import "paymentList/paymentList.scss";

@import "viewCenter/viewCenter.scss";

@import "studentsCalls/studentsCalls.scss";
@import "studentsCalls/configCall.scss";
@import "studentFile/studentFile.scss";

@import "/variables.scss";
@import "/icons.scss";

@import url('https://fonts.googleapis.com/css?family=Cabin|Jaldi|Abel|Quicksand');

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}

#generalDiv{

}
#app{
    font-family: 'Jaldi', sans-serif;
    display: block;
    position: absolute;
    width: 100%;
    height: 800px;
    background: #167be4;
    z-index: 1;
    &:after{
        content:"";
        background: url('../images/centroKumon.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

}
