$font-path: "fonts" !default;

$icon-add-button: \e924;
$icon-add-document: \e925;
$icon-consulting-message: \e926;
$icon-file: \e927;
$icon-note: \e928;
$icon-playlist: \e929;
$icon-speech-bubble: \e92a;
$icon-minute-mark: \e900;
$icon-black-stopwatch: \e901;
$icon-call-answer: \e902;
$icon-check: \e903;
$icon-class-group: \e904;
$icon-list: \e905;
$icon-clipboard: \e906;
$icon-tutor: \e907;
$icon-payment: \e908;
$icon-user-female: \e909;
$icon-girl-on-phone: \e90a;
$icon-id-card: \e90b;
$icon-card: \e90c;
$icon-square-check: \e90d;
$icon-invoice: \e90e;
$icon-learning: \e90f;
$icon-left-arrow: \e910;
$icon-list-students: \e911;
$icon-multiply: \e912;
$icon-planning: \e913;
$icon-point-of-service: \e914;
$icon-printer: \e915;
$icon-right-arrow: \e916;
$icon-search: \e917;
$icon-programacion: \e918;
$icon-smartphone-call: \e919;
$icon-lines-simple: \e91a;
$icon-table: \e91b;
$icon-team: \e91c;
$icon-telephone-student: \e91d;
$icon-calls: \e91e;
$icon-update: \e91f;
$icon-user-male: \e920;
$icon-newspaper: \e921;
$icon-pencil: \e922;
$icon-pencil2: \e923;
$icon-profile: \e92b;
$icon-file-picture: \e92c;
$icon-barcode: \e937;
$icon-qrcode: \e938;
$icon-history: \e94d;
$icon-clock: \e94e;
$icon-clock2: \e94f;
$icon-alarm: \e950;
$icon-bell: \e951;
$icon-search2: \e986;
$icon-zoom-in: \e987;
$icon-zoom-out: \e988;
$icon-lock: \e98f;
$icon-unlocked: \e990;
$icon-wrench: \e991;
$icon-cog: \e994;
$icon-cogs: \e995;
$icon-stats-dots: \e99b;
$icon-stats-bars: \e99c;
$icon-stats-bars2: \e99d;
$icon-bin2: \e9ad;
$icon-clipboard2: \e9b8;
$icon-download3: \e9c7;
$icon-upload3: \e9c8;
$icon-eye: \e9ce;
$icon-eye-plus: \e9cf;
$icon-eye-minus: \e9d0;
$icon-eye-blocked: \e9d1;
$icon-smile: \e9e1;
$icon-sad: \e9e5;
$icon-neutral: \e9f7;
$icon-wondering: \e9fb;
$icon-warning: \ea07;
$icon-plus: \ea0a;
$icon-minus: \ea0b;
$icon-cross: \ea0f;
$icon-checkmark: \ea10;
$icon-enter: \ea13;
$icon-exit: \ea14;
$icon-arrow-up: \ea32;
$icon-arrow-down: \ea36;
$icon-arrow-up2: \ea3a;
$icon-arrow-down2: \ea3e;
$icon-circle-up: \ea41;
$icon-circle-right: \ea42;
$icon-circle-down: \ea43;
$icon-circle-left: \ea44;
$icon-paragraph-left: \ea77;
$icon-500px: \eaab;
$icon-file-pdf: \eadf;
$icon-file-excel: \eae2;

