$font-path: "fonts" !default;

$icon-plan-edit: \e900;
$icon-folder: \e901;
$icon-time-planning: \e902;
$icon-planning-check: \e903;
$icon-business: \e904;
$icon-file-add: \e905;
$icon-user-edit: \e906;
$icon-add-user: \e907;
$icon-minute-mark: \e908;
$icon-black-stopwatch: \e909;
$icon-call-answer: \e90a;
$icon-check: \e90b;
$icon-class-group: \e90c;
$icon-list3: \e90d;
$icon-clipboard: \e90e;
$icon-tutor: \e90f;
$icon-payment: \e910;
$icon-user-female: \e911;
$icon-girl-on-phone: \e912;
$icon-id-card: \e913;
$icon-card: \e914;
$icon-square-check: \e915;
$icon-invoice: \e916;
$icon-learning: \e917;
$icon-left-arrow: \e918;
$icon-list-students: \e919;
$icon-multiply: \e91a;
$icon-planning: \e91b;
$icon-point-of-service: \e91c;
$icon-printer: \e91d;
$icon-right-arrow: \e91e;
$icon-search: \e91f;
$icon-programacion: \e920;
$icon-smartphone-call: \e921;
$icon-lines-simple: \e922;
$icon-table3: \e923;
$icon-team: \e924;
$icon-telephone-student: \e925;
$icon-calls: \e926;
$icon-update: \e927;
$icon-user-male: \e928;
$icon-newspaper: \e929;
$icon-pencil3: \e92a;
$icon-pencil22: \e92b;
$icon-add-button: \e92c;
$icon-add-document: \e92d;
$icon-consulting-message: \e92e;
$icon-file: \e92f;
$icon-note: \e930;
$icon-playlist: \e931;
$icon-speech-bubble: \e932;
$icon-profile2: \e933;
$icon-file-picture: \e934;
$icon-barcode: \e937;
$icon-qrcode: \e938;
$icon-history: \e94d;
$icon-clock: \e94e;
$icon-clock2: \e94f;
$icon-alarm: \e950;
$icon-bell: \e951;
$icon-search2: \e986;
$icon-zoom-in: \e987;
$icon-zoom-out: \e988;
$icon-lock: \e98f;
$icon-unlocked: \e990;
$icon-wrench: \e991;
$icon-cog: \e994;
$icon-cogs: \e995;
$icon-stats-dots: \e99b;
$icon-stats-bars: \e99c;
$icon-stats-bars2: \e99d;
$icon-bin2: \e9ad;
$icon-clipboard2: \e9b8;
$icon-download3: \e9c7;
$icon-upload3: \e9c8;
$icon-eye: \e9ce;
$icon-eye-plus: \e9cf;
$icon-eye-minus: \e9d0;
$icon-eye-blocked: \e9d1;
$icon-smile: \e9e1;
$icon-sad: \e9e5;
$icon-neutral: \e9f7;
$icon-wondering: \e9fb;
$icon-warning: \ea07;
$icon-plus: \ea0a;
$icon-minus: \ea0b;
$icon-cross: \ea0f;
$icon-checkmark: \ea10;
$icon-enter2: \ea13;
$icon-exit2: \ea14;
$icon-enter: \ea15;
$icon-exit: \ea16;
$icon-loop2: \ea2e;
$icon-arrow-up: \ea32;
$icon-arrow-down: \ea36;
$icon-arrow-up2: \ea3a;
$icon-arrow-down2: \ea3e;
$icon-circle-up: \ea41;
$icon-circle-right: \ea42;
$icon-circle-down: \ea43;
$icon-circle-left: \ea44;
$icon-paragraph-left: \ea77;
$icon-500px: \eaab;
$icon-file-pdf: \eadf;
$icon-file-excel: \eae2;
$icon-home2: \e935;
$icon-home3: \e936;
$icon-office: \e939;
$icon-pencil: \e93a;
$icon-pencil2: \e93b;
$icon-camera: \e93c;
$icon-book: \e93d;
$icon-books: \e93e;
$icon-file-text: \e93f;
$icon-profile: \e940;
$icon-file-empty: \e941;
$icon-files-empty: \e942;
$icon-file-text2: \e943;
$icon-folder2: \e944;
$icon-folder-open: \e945;
$icon-user2: \e971;
$icon-users: \e972;
$icon-user-plus: \e973;
$icon-user-minus: \e974;
$icon-spinner: \e97a;
$icon-spinner2: \e97b;
$icon-spinner3: \e97c;
$icon-spinner4: \e97d;
$icon-spinner5: \e97e;
$icon-spinner6: \e97f;
$icon-spinner7: \e980;
$icon-spinner8: \e981;
$icon-spinner9: \e982;
$icon-spinner10: \e983;
$icon-spinner11: \e984;
$icon-equalizer: \e992;
$icon-list-numbered: \e9b9;
$icon-list: \e9ba;
$icon-list2: \e9bb;
$icon-tree: \e9bc;
$icon-menu: \e9bd;
$icon-notification: \ea08;
$icon-table: \ea70;
$icon-table2: \ea71;
$icon-insert-template: \ea72;

