$font-path: "fonts" !default;

$icon-minute-mark: \e900;
$icon-black-stopwatch: \e901;
$icon-call-answer: \e902;
$icon-check: \e903;
$icon-class-group: \e904;
$icon-list: \e905;
$icon-clipboard: \e906;
$icon-tutor: \e907;
$icon-payment: \e908;
$icon-user-female: \e909;
$icon-girl-on-phone: \e90a;
$icon-id-card: \e90b;
$icon-card: \e90c;
$icon-square-check: \e90d;
$icon-invoice: \e90e;
$icon-learning: \e90f;
$icon-left-arrow: \e910;
$icon-list-students: \e911;
$icon-multiply: \e912;
$icon-planning: \e913;
$icon-point-of-service: \e914;
$icon-printer: \e915;
$icon-right-arrow: \e916;
$icon-search: \e917;
$icon-programacion: \e918;
$icon-smartphone-call: \e919;
$icon-lines-simple: \e91a;
$icon-table: \e91b;
$icon-team: \e91c;
$icon-telephone-student: \e91d;
$icon-calls: \e91e;
$icon-update: \e91f;
$icon-user-male: \e920;
$icon-newspaper: \e921;
$icon-pencil: \e922;
$icon-pencil2: \e923;
$icon-barcode: \e937;
$icon-history: \e94d;
$icon-clock: \e94e;
$icon-clock2: \e94f;
$icon-alarm: \e950;
$icon-bell: \e951;
$icon-lock: \e98f;
$icon-unlocked: \e990;
$icon-wrench: \e991;
$icon-bin2: \e9ad;
$icon-clipboard2: \e9b8;
$icon-download3: \e9c7;
$icon-upload3: \e9c8;
$icon-neutral: \e9f7;
$icon-wondering: \e9fb;
$icon-enter: \ea13;
$icon-exit: \ea14;
$icon-paragraph-left: \ea77;
$icon-500px: \eaab;
$icon-file-pdf: \eadf;
$icon-file-excel: \eae2;

