.userInfoContainer{
    margin-top: 10px;
    .form{
        max-height: 400px;
        overflow-y: scroll;
        background: #5aa9a9;
        border-radius: 10px;
        padding: 15px;
        .status{
            text-align: center;
            margin-bottom: 5px;
            .checkbox{
                border: 1px solid white;
                border-radius: 5px;
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 30px;
                text-align: center;
                background: white;
                cursor: pointer;
                box-shadow: 3px 0px 5px #000000;
                margin-right: 10px;
                .ico{
                    color: white;
                    font-size: 16px;
                }
                &.active{
                    background: #847f7f;
                    border: #847f7f;
                    .ico{
                        color: white;
                    }
                    &:hover{
                        background: #9c9797;
                        border: #9c9797;
                        .ico{
                            color: white;
                        }
                    }
                }
            }
            span{
                display: inline-block;
                vertical-align: middle;
                font-size: 22px;
                color: #3e3636;
            }
        }
        .leftColumn{
            color: white;
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            line-height: 40px;
            width: 30%;
            margin-bottom: 10px;
        }
        .rightColumn{
            display: inline-block;
            vertical-align:  middle;
            border-radius: 5px;
            height: 40px;
            border-color: white;
            font-size: 14px;
            color: #a7a7a7;
            width: 70%;
            margin-bottom: 10px;
            position: relative;
            &.days{
                height: 70px;
                max-height: 100px;
                overflow-y: scroll;
            }
            &.level{
                position: relative;
                width: 20%;
            }
            input{
                height: 40px;
                width: 100%;
                border-radius: 10px;
                font-size: 20px;
            }
            .dayContainer{
                display: inline-block;
                position: relative;
                vertical-align: middle;
                width: 50%;
                .checkbox{
                    border: 1px solid white;
                    border-radius: 5px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background: white;
                    cursor: pointer;
                    box-shadow: 3px 0px 5px #000000;
                    margin-right: 10px;
                    .ico{
                        color: white;
                        font-size: 16px;
                    }
                    &:hover{
                        background: #9c9797;
                        border: #9c9797;
                        .ico{
                            color: white;
                        }
                    }
                    &.active{
                        background: #847f7f;
                        border: #847f7f;
                        .ico{
                            color: white;
                        }
                        &:hover{
                            background: #9c9797;
                            border: #9c9797;
                            .ico{
                                color: white;
                            }
                        }
                    }
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 22px;
                    color: #3e3636;
                    width: 50%;
                }
            }
        }  
    }
    .buttonCreate{
        width: 40%;
        height: 40px;
        margin: 0 auto;
        background: #21647F;
        line-height: 40px;
        color: white;
        text-align: center;
        cursor: pointer;
        box-shadow: 3px 3px 10px #000000;
        margin-bottom: 15px;
        font-size: 22px;
        border-radius: 5px;
        &:hover{
            background: #847f7f;
        }
    } 
    .message{
        background: #5aa9a9;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 20px;
        color: white;
        span{
            display: block;
        }
    }
}