.menuContainer{
    .leftContainerM{
        width: 70%;
        display: inline-block;
        vertical-align: top;
        margin-top: 5%;
    }
    .rightContainerM{
        width: 30%;
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
}
.frontContainer{
    width: auto;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;
    background: rgba(0, 0, 0, .8);
    top:0; 
    left:0;
}