.menuContainer{
    .leftContainerM{
        width: 70%;
        display: inline-block;
        vertical-align: top;
    }
    .rightContainerM{
        width: 30%;
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
}
