.panelContainer{
    width: 100%;
    background: rgba(0,0,0,.5);
    float: right;
    border-radius: 10px 0px 0px 10px;
    .sesionInfoContainer{
        padding: 10px;
        width: 100%;
        text-align: center;
        .ico{
            display: inline-block;
            vertical-align: middle;
            font-size: 80px;
            color: white;
            width: 25%;
            padding: 5px;
        }
        .sessionContainer{
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            font-size: 30px;
            color: white;
            width: 75%;
            padding: 15px;
            span{
                font-size: 40px;
            }
            .logout{
                cursor: pointer;
                font-size: 18px;
                text-decoration: underline;
                &:hover{
                    color: #A7A7A7;
                }
            }
            .nameSession{
                font-size: 30px;
                overflow-y: hidden;
                max-height: 105px;
            }
        }
    }
}