.panelContainer{
    width: 100%;
    background: rgba(0,0,0,.5);
    float: right;
    position: absolute;
    .sesionInfoContainer{
        padding: 10px;
        width: 100%;
        text-align: center;
        .ico{
            display: inline-block;
            vertical-align: middle;
            font-size: 100px;
            color: white;
            margin-right: 15px;
        }
        .sessionContainer{
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            font-size: 30px;
            color: white;
            span{
                font-size: 40px;
            }
            .logout{
                font-size: 18px;
                text-decoration: underline;
            }
        }
    }
    .notificationsContainer{
        height: 600px;
        float: right;
        top:0px;
    }
}