.printOptionsContainer{
    width: 40%;
    margin: 0px auto;
    background:  #5dc4c4;
    margin-top: 10%;
    padding: 20px;
    border-radius: 20px;
    .headerPrintContainer{
        margin: 0 auto;
        text-align: center;
        position: relative;
        .titleContainer{
            font-size: 30px;
            color: #3e3636;
            width: 80%;
        }
        .ico{
            color: white;
            font-size: 30px;
            font-weight: bolder;
            float: right;
            cursor: pointer;
            &:hover{
                color: #a7a7a7;
            }
        }
    }
    .divButtons{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 20px;
        .buttonContainer{
            width: 45%;
        }
    }
    .selectPeople{
        .optionAll{
            color:white;
            .checkbox{
                border: 1px solid white;
                border-radius: 5px;
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 30px;
                text-align: center;
                background: white;
                cursor: pointer;
                box-shadow: 3px 0px 5px #000000;
                margin-right: 10px;
                .ico{
                    color: #847f7f;
                    font-size: 16px;
                }
                &:hover{
                    background: #847f7f;
                    border: #847f7f;
                    .ico{
                        color: white;
                    }
                }
            }
            span{
                display: inline-block;
                vertical-align: middle;
                font-size: 25px;
            }
        }
        .button{
            width: 40%;
            height: 40px;
            margin: 0 auto;
            background: #a7a7a7;
            line-height: 40px;
            color: white;
            text-align: center;
            cursor: pointer;
            box-shadow: 3px 3px 10px #000000;
            margin-bottom: 15px;
            font-size: 22px;
            border-radius: 5px;
            &:hover{
                background: #847f7f;
            }
        }
    }
}