.printOptionsContainer{
    width: 40%;
    margin: 0px auto;
    background:  #5dc4c4;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    .headerPrintContainer{
        margin: 0 auto;
        text-align: center;
        position: relative;
        .titleContainer{
            font-size: 30px;
            color: #3e3636;
            width: 80%;
        }
        .ico{
            color: white;
            font-size: 30px;
            font-weight: bolder;
            float: right;
            cursor: pointer;
            &:hover{
                color: #a7a7a7;
            }
        }
    }
    .divButtons{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        .buttonContainer{
            width: 40%;
        }
        span{
            font-size: 20px;
        }
    }
}