.annualPlanContainer{
    .infoStudentContainer{
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px 0px 0px 10px;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        .nameStudent{
            width: 100%;
            text-align: center;
            .ico{
                font-size: 30px;
                width: 30%;
                text-align: right;
                padding-right: 5px;
                display: inline-block;
                vertical-align: middle;
            }
            .name{
                font-size: 24px;
                width: 70%;
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                padding-left: 10px;
            }
        }
        .infoContainer{
            font-size: 20px;
            text-align: center;
            .grade{
                display: inline-block;
                vertical-align: middle;
                width: 50%;
                text-align: left;
                font-size: 20px;
            }
            .level{
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                width: 50%;
            }
            .date{
                font-size: 22px;
            }
        }
    }
    .processContainer{
        color: white;
        .navigationBarProcess{
            display: inline-block;
            vertical-align: top;
            width: 10%;
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            z-index: -1;
            border-radius: 15px;
            padding: 10px;
            left: 10%;
            margin-top: 20px;
            .stepTitle{
                font-size: 25px;
                margin-bottom: 10px;
            }
            .processStatus{
                .processIcon{
                    border: 1px solid white;
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                    background: white;
                    color: #29abde;
                    text-align: center;
                    margin: 0 auto;
                    .ico{
                        display: block;
                        line-height: 60px;
                        text-align: center;
                        font-size: 30px;
                    }
                    &.active{
                        color: white;
                        background: #29abde;
                        border-color: #29abde;
                    }
                }
                .tab{
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    &.active{
                        color: #29abde;
                    }
                }
            }
        }
        .formContainer{
            display: inline-block;
            vertical-align: top;
            width: 90%;
            padding: 20px;
        }
    }
}