.examContainer{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    .title{
        font-size: 30px;
        padding-left: 10px;
    }
    .examsContainer{
        text-align: center;
        .completeTable{
            border: 1px solid white;
            color: white;
            border-collapse: collapse;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            margin-bottom: 10px;
            text-align: center;
            th, td {
                border: 1px solid white;
                color: white;
                border-collapse: collapse;
            }
            .smallTable {
                border-spacing: 15px;
                text-align: center;
                display: inline-table;
                vertical-align: top;
                th, td{
                    border: none;
                }
                .colLevels{
                }
                .colLeft{
                    
                }
                .colRight{
                    
                    .score{
                        display: inline-block;
                        vertical-align: middle;
                        background: transparent;
                        color: white;
                        border: none;
                        border-bottom: 1px solid white;
                        font-size: 18px;
                        text-align: center;
                    }
                    .maxScore{
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }
            }
        }

    }

}