.examContainer{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    .title{
        font-size: 25px;
        padding-left: 10px;
        &.center{
            text-align: center;
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    .errorContainer{
        width: 60%;
        margin: 0 auto;
        border-radius: 10px;
        border: 2px solid #f54848;
        color: #f54848;
        text-align: center;
        padding: 15px;
        margin-bottom: 10px;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        .ico{
            width: 20%;
            font-size: 25px;
        }
        .text{
            width: 80%;
            font-size: 18px;
        }
    }
    .button{
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #21647F;
        color: white;
        border-radius: 10px;
        width: 20%;
        box-shadow: 3px 3px 10px #000000;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
        &:hover{
            background: #847f7f;
        }
    }
    .bigContainer{
        position: relative;
        &:hover{
            .arrow{
                opacity: 1;
            }
        }
        .arrow{
            width: 100px;
            height: 100px;
            top: 50%;
            margin-top: -50px;
            text-align: center;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            opacity: 0;
            transition: opacity 500ms linear;
            &.right{
                right: -20px;
            }
            &.left{
                left: -20px;
            }
            span{
                color: white;
                font-size: 40px;
            }
        }
        .wrapExams{
            position: relative;
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            .examsContainer{
                background: rgba(0, 0, 0, 0.5);
                padding: 15px;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                margin: 0 auto;
                .completeTable{
                    border: 1px solid white;
                    border-radius: 10px;
                    color: white;
                    border-collapse: collapse;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 20px;
                    margin-bottom: 10px;
                    text-align: center;
                    width: 170px;
                    .borderRight{
                        border-right: 1px solid white;
                    }
                    th, td {
                        border-bottom: 1px solid white;
                        border-radius: 10px;
                        padding: 5px;
                        color: white;
                        border-collapse: collapse;
                    }
                    .smallTable {
                        text-align: center;
                        display: inline-table;
                        vertical-align: top;
                        th, td{
                            border: none;
                        }
                        .colRight{
                            
                            .score{
                                display: inline-block;
                                vertical-align: middle;
                                background: transparent;
                                color: #25d45d;
                                border: none;
                                border-bottom: 1px solid white;
                                font-size: 16px;
                                text-align: center;
                                width: 60%;
                            }
                            .maxScore{
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 14px;
                                width: 40%;
                            }
                        }
                    }
                }

            }
        }
    }
    .finalScoreContainer{
        text-align: center;
        margin-bottom: 15px;
        font-size: 20px;
        .boxLevel{
            display: inline-block;
            vertical-align: middle;
            width: 80px;
            border: 1px solid white;
            border-radius: 10px;
            margin-right: 10px;
            .levelTag{
                background: white;
                color: black;
                display: block;
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                border: 1px solid white;
            }
            .levelScore{
                display: block;

            }
        }
    }

}