.formGeneralContainer{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    .title{
        font-size: 30px;
        padding-left: 10px;
    }
    .generalForm{
        max-height: 600px;
        overflow-y: scroll;
        .question{
            background: rgba(0, 0, 0, 0.5);
            background: rgba(0, 0, 0, 0.5);
            margin-bottom: 10px;
            border-radius: 10px;
            font-size: 18px;
            text-align: center;
            .answers{
                padding: 10px;
                .ans{
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    .checkbox{
                        border: 1px solid white;
                        border-radius: 5px;
                        display: inline-block;
                        vertical-align: middle;
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        background: white;
                        cursor: pointer;
                        box-shadow: 3px 0px 5px #000000;
                        margin-right: 10px;
                        .ico{
                            color: white;
                            font-size: 16px;
                        }
                        &:hover{
                            background: #9c9797;
                            border: #9c9797;
                            .ico{
                                color: white;
                            }
                        }
                        &.active{
                            background: #21647F;;
                            border: #21647F;;
                            .ico{
                                color: white;
                            }
                            &:hover{
                                background: #9c9797;
                                border: #9c9797;
                                .ico{
                                    color: white;
                                }
                            }
                        }
                    }
                    span{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

}