.searchDiv{
    width: 100%;
    display: inline-block;
    Link{
        text-decoration: none;
    }
    input{
        width:60%;
        height: 40px;
        vertical-align: middle;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .ico{
        width: 20%;
        height: 40px;
        vertical-align: middle;
        color: white;
        font-size: 45px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #6ddfc5; 
    }
    
}