.studentsCenterContainer{
    margin: 0px auto;
    text-align: center;
    border: 1px black;
    border-radius: 6px;
    width: 70%;
    background: rgba(0, 0, 0, .6);

    .studentsText{
        vertical-align: middle;
        color: white;
        font-size: 25px;
        width: 85%;
    }
    .namesStudents{
        width: 90%;
    
        .nameStudent{
            width: 100%;
            margin: 15px;
            padding: 2%;
            vertical-align: middle;
            color: white;
            border: 1px black;
            border-radius: 10px;
            background: rgba(0, 0, 0, .5);
            &:hover{
                color: #a7a7a7;
            }
           
        }
    
    }
}