.tiempoReducidoContainer{
    .topContainer{
        width: 100%;
        margin-bottom: 30px;
    }

    .leftContainer{
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    .rightContainer{
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }
}