.navigationContainer{
    float: left;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    border: 1px black;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 20%;
    height: 50%;
    margin: 0 auto;
    margin-top: 0%;
    span{
        display: block;
    }
    #title{
        float: right;
        text-align: right;
        font-size: 22px;
        font-weight: bold;
        color: #A7A7A7;
        padding: 15px;
    }
    .buttonBack{
        float: left;
        text-align: left;
        font-size: 20px;
        width: 15%;
        height: 45px;
        margin: 0 auto;
        background-image: url("../images/atras.png");
        padding: 5px;
        line-height: 30px;
        &:hover{
            opacity: .2;
        }
    }
}

.alumnosCentroContainer{
    clear: both;
    text-align: center;
    border: 1px black;
    border-radius: 7%;
    width: 30%;
    margin: 50px;
    margin-left: 7%;
    padding: 15px;
    background: rgba(0, 0, 0, .6);
    span{
        display: block;
    }
    #title{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #A7A7A7;
        padding: 15px;
    }
       
    input{
        font-size: 16px;
        border-radius: 10px;
        width: 80%;
        height: 40px;
        margin: 10px;
        position: relative;
    }
    
    .serachName{
        position: relative;
    }

    .buttonLupa{
        font-size: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        top: 26%;
        left: 32.2%;
        width: 2.5%;
        height: 35px;
        margin: 0px auto;
        background-image: url("../images/lupa.png");
        padding: 5px;
        position: absolute;
        line-height: 20px;
        &:hover{
            opacity: .3;
        }
    }
    .buttonAlumno{
        text-align: left;
        border: 1px black;
        border-radius: 10px;
        font-size: 16px;
        background: rgba(0, 0, 0, .75);
        color:  #00ffff;
        width: 90%;
        height: 20px;
        padding: 10px;
        margin: 10px;
        z-index: 100;
        &:hover{
            background: rgba(167,167,167,.5);
        }
    }
}

.confTimeContainer{
    clear: both;
    float: right9i;
    text-align: center;
    border: 1px black;
    border-radius: 7%;
    width: 30%;
    margin: 0 auto;
    top: 0px;
    margin-right: 7%;
    padding: 15px;
    background: rgba(0, 0, 0, .6);
    span{
        display: block;
    }
    #title{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #A7A7A7;
        padding: 15px;
    }
       
    input{
        height: 40px;
        width: 80%;
        border-radius: 10px;
        margin: 10px;
        font-size: 16px;

    }

    .buttonAlumno{
        height: 20px;
        width: 90%;
        text-align: left;
        padding: 10px;
        border: 1px black;
        border-radius: 10px;
        margin: 10px;
        font-size: 16px;
        background: rgba(0, 0, 0, .75);
        color:  #00ffff;
        z-index: 100;
    }
}