.confTimeContainer{
    margin: 0px auto;
    text-align: center;
    border: 1px black;
    border-radius: 6px;
    width: 70%;
    background: rgba(0, 0, 0, .6);
    padding: 5px;
    .headerTime{
        margin-bottom: 10px;
        .timeText{
            display: inline-block;
            width: 85%;
            vertical-align: middle;
            color: white;
            font-size: 30px;
        }
        .ico{
            display: inline-block;
            vertical-align: middle;
            width: 15%;
            color: white;
            font-size: 25px;
            cursor: pointer;
            &:hover{
                color: rgba(0, 0, 0, .8);
            }
        }
    }
    .timeText2{
        color: white;
        font-size: 20px;
    }
    input{
        width:50%;
        height: 30px;
        border-radius: 5px;
        text-align: center;
    }
    .buttonSetTime{
        margin: 0px auto;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 30%;
        height:30px;
        line-height: 30px;
        text-align: center;
        border-radius: 5px;
        background: #6ddfc5;
        cursor: pointer;
        &:hover{
            background: rgba(0, 0, 0, .8);
        }
    }

}