.configCallContainer{
    margin: 0px auto;
    border-radius: 6px;
    width: 40%;
    background:  #6ddfc5;
    margin-top:10%;
    padding: 30px;
    .headerConfigCall{
        .callInitialText{
            display: inline-block;
            text-align: center;
            width: 95%;
            color: white;
            font-size: 30px;
        }
        .ico{
            display: inline-block;
            text-align: left;
            vertical-align:  top;
            width: 5%;
            color: white;
            font-size: 25px;
            cursor: pointer;
            &:hover{
                color: rgba(0, 0, 0, .8);
            }
        }
    }
    .callText{
        margin-top: 10px;
        padding-top: 10px;
        color: white;
        font-size: 20px;
    }
    input{
        border-radius: 5px;
        width:50%;
        height: 30px;
    }
    textarea{
        border-radius: 5px;
        width:95%;
        height: 80px;
        padding: 5px;
    }
    .buttonSetNote{
        margin: 0px auto;
        margin-top: 10px;
        width: 30%;
        height:40px;
        text-align: center;
        border-radius: 5px;
        background: #a7a7a7;
        cursor: pointer;
        &:hover{
            background: rgba(0, 0, 0, .8);
        }
    }   
}