.generalContainer{
    width:100%;
    .twoCallContainer{
        vertical-align: top;
        padding: 30px;
        .studentsCallContainer{
            margin: 0px auto;
            text-align: center;
            border: 1px black;
            border-radius: 6px;
            width: 80%;
            background: rgba(0, 0, 0, .6);
            min-height: 600px;
            .studentsText{
                display: block;
                padding-top: 10px;
                text-align: center;
                color: white;
                font-size: 30px;
            }
            .namesStudents{
                width: 90%;
                overflow-y: scroll;
                max-height: 500px;
                margin: 0 auto;
                margin-top: 20px;
                .confCall{
                    width: 92%;
                    margin:0 auto;
                    text-align: left;
                    padding: 5px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    background: rgba(0, 0, 0, .5);
                    vertical-align: middle;
                    cursor: pointer;
                    &:hover{
                        background: rgba(0, 0, 0, .8);
                    }  
                    .ico{
                        font-size: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        &:hover{
                            color: rgba(128, 122, 122, 0.8);
                        }
                    }
                    .nameStudent{
                        width: 90%;
                        display: inline-block;
                        vertical-align: middle;   
                    }
                    .note{
                        color:white;
                    }
                    &.colorNotDone{
                        color: #6ddfc5;
                    }
                    &.colorDone{
                        color: #13ca41;
                    }
                }

            }
        }
    }
    #leftContainer{
        width: 50%;
        display: inline-block;
    }  
    #rightContainer{
        width: 50%;
        display: inline-block;
    } 
}
