.centerStateContainer{
    overflow: hidden;
    .navigationContainer{
        display: inline-block;
    }
    .noStudents{
        background: rgba(0, 0, 0, 0.7);
        margin: 0 auto;
        width: 50%;
        color: white;
        font-size: 24px;
        text-align: center;
        margin-top: 10%;
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        span{
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
        }
    }
    .barStatus{
        display: inline-block;
        vertical-align: top;
        width: 80%;
        text-align: center;
        height: 40px;
        text-align: center;
        line-height: 40px;
        .status{
            background: rgba(0, 0, 0, 0.7);
            width: 50%;
            margin-right: 35%;
            margin-left: 15%;
            border-radius: 10px;
            margin-top: 10px;
            color: white;
            .circle{
                border: 1px solid;
                width: 20px;
                display: inline-block;
                height: 20px;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 10px;
                &.normal{
                    border-color: #52b0b0;
                    background: #52b0b0;
                }
                &.soon{
                    background: #dee02a;
                    border-color: #dee02a;
                }
                &.urgent{
                    background: #db4140;
                    border-color: #db4140;
                }
            }
            .text{
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
                &.normal{
                    color: #52b0b0;
                }
                &.soon{
                    color: #dee02a;
                }
                &.urgent{
                    color: #db4140;
                }
            }
        }
    }
    .assistantsContainer{
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        &:hover{
            .arrow{
                opacity: 1;
            }
        }
        .arrow{
            width: 100px;
            height: 100px;
            top: 50%;
            margin-top: -50px;
            text-align: center;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            opacity: 0;
            transition: opacity 500ms linear;
            &.right{
                right: -30px;
            }
            &.left{
                left: -30px;
            }
            span{
                color: white;
                font-size: 60px;
            }
        }
        .assistants{
            position: relative;
            text-align: center;
            overflow: hidden;
            margin: 0 auto;
            .eachAssistant{
                background: rgba(0, 0, 0, 0.7);
                display: inline-block;
                vertical-align: middle;
                width: 300px;
                height: 500px;
                margin-right: 10px;
                border-radius: 4px;
                .headerAssistant{
                    padding: 5px;
                    span{
                        display: inline-block;
                        vertical-align: middle;
                        color: white;
                        font-size: 30px;
                        margin-right: 20px;
                    }
                }
                .studentContainer{
                    width: 40%;
                    border: 1px solid #52b0b0;
                    border-radius: 10px;
                    display: inline-block;
                    vertical-align: middle;
                    overflow-y: scroll;
                    color: #52b0b0;
                    margin-right: 5%;
                    margin-bottom: 5%;
                    position: relative;
                    height: 80px;
                    max-height: 100px;
                    overflow-y: scroll;
                    &:hover{
                        .timeCont{
                            right: 0;
                        }
                    }
                    .timeCont{
                        transition: right 400ms ease-out;
                        display: block;
                        height: 100px;
                        position: absolute;
                        top:0;
                        right: 100%;
                        width: 100%;
                        padding:0;
                        background-color: rgb(0,0,0);
                        background-color: rgba(0,0,0,0.7);
                        border: none;
                        opacity: 1;
                        color: white;
                        font-size: 30px;
                        bottom: 0px;
                        filter: alpha(opacity=90);
                    }
                    .level{
                        display: block;
                        width: 100%;
                    }
                    .name{
                        display: block;
                        width: 100%;
                    }
                    .lastName{
                        display: block;
                        width: 100%;
                        overflow-y: scroll;
                        max-height: 30px;
                    }
                    &.normal{
                        color: #52b0b0;
                        border-color: #52b0b0;
                    }
                    &.soon{
                        color: #dee02a;
                        border-color: #dee02a;
                    }
                    &.urgent{
                        color: #db4140;
                        border-color: #db4140;
                    }
                }
            }
        }
    }
}