.paymentContainer{
    .buttonRegister{
        display: inline-block;
        vertical-align: middle;
        background: #21647F;
        color: white;
        border-radius: 10px;
        height: 50px;
        width: 20%;
        text-align: center;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 45%;
        margin-top: 10px;
        line-height: 50px;
        box-shadow: 3px 3px 10px #000000;
        cursor: pointer;
        &:hover{
            background: #847f7f;
        }
    }
    .infoStudentContainer{
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px 0px 0px 10px;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        .nameStudent{
            width: 100%;
            text-align: center;
            .ico{
                font-size: 30px;
                width: 15%;
                padding-right: 5px;
                display: inline-block;
                vertical-align: middle;
            }
            .name{
                font-size: 24px;
                width: 85%;
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                padding-left: 10px;
            }
        }
        .infoStart{
            font-size: 20px;
            text-align: center;
            .tag{
                display: inline-block;
                vertical-align: middle;
                width: 30%;
            }
            .date{
                display: inline-block;
                vertical-align: middle;
                width: 40%;
                text-align: left;
                font-size: 24px;
            }
            .level{
                display: inline-block;
                vertical-align: middle;
                font-size: 40px;
                width: 30%;
            }
        }
    }
    .containerPayments{
        &:hover{
            .arrow{
                opacity: 1;
            }
        }
        .arrow{
            width: 100px;
            height: 100px;
            top: 50%;
            margin-top: -50px;
            text-align: center;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            opacity: 0;
            transition: opacity 500ms linear;
            &.right{
                right: -20px;
            }
            &.left{
                left: -20px;
            }
            span{
                color: white;
                font-size: 60px;
            }
        }
        .listsContainer{
            color: white;
            position: relative;
            text-align: center;
            overflow: hidden;
            margin: 0 auto;
            margin-top: 8%;
            .yearContainer{
                display: inline-block;
                vertical-align: middle;
                height: 600px;
                width: 300px;
                margin-right: 10px;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.5);
                padding: 10px;
                overflow-y: auto;
                .year{
                    font-size: 30px;
                }
                .monthContainer{
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 4px;
                    margin-bottom: 5px;
                    height: 30px;
                    line-height: 30px;    
                    &.active{
                        height: auto;
                    }            
                    .generalDiv{
                        position: relative;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .monthName{
                            width: 80%;
                        }
                        .arrowDown, .cross{
                            position: absolute;
                            height: 30px;
                            line-height: 30px;
                            cursor: pointer;
                        }
                    }
                    .infoPayment{
                        .topDiv{
                            text-align: center;
                            span{
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .folio{
                                width: 15%;
                            }
                            .numFolio{
                                width: 20%;
                                margin-right: 10%;
                            }
                            .dateTag{
                                width: 15%;
                            }
                            .date{
                                width: 30%;
                            }
                        }
                        .midDiv{
                            span{
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .type{
                                width: 32%;
                                margin-right: 3%;
                            }
                            .typePayment{
                                width: 15%;
                                margin-right: 5%;
                            }
                            .quantityTag{
                                width: 22%;
                                margin-right: 3%;
                            }
                            .quantity{
                                width: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
}